 .my-navbar {
   /* background-color: #028090; */
   background-color: #ffffff;
   font-family: 'Lato', sans-serif;
   font-weight: 600;
 }


 .nav-link {
   font-size: 1.2rem;
   color: #010500;
   font-weight: 500;
   transition: color 0.3s ease;
   position: relative;
 }

 .nav-link:hover {
   color: #000000;
   border-bottom: 2px solid #000000;
 }

 .nav-link.active {
   color: #000000;
   border-bottom: 2px solid #000000;
 }