.main-heading{
   font-family: 'Times New Roman', Times, serif;
}
   .background-style-pocket{
    background: linear-gradient(to right, #84e4f1 0%, #d6dadb 100%) !important;
  }
.learn-more-button{
 color: #028090;

}
              
  
 