FRONTEND_URL=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
JWT_SECRET_KEY=

MONGODB_URL=

# Note: If you are using Azure App Service, go to your app's Configuration,
# and then set the following values into your app's "Application settings".
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
# Expects a full tenant id such as "contoso.onmicrosoft.com", or its GUID
# Or leave it undefined if you are building a multi-tenant app
TENANT_ID=